html,
body {
  margin: 0;
  height: 100%;
  font-weight: 300;
}

body {
  overflow-x: hidden;
  font-family:sans-serif;

}

a {
  color: #800080;
}

h1,
h2 {
  text-align: center;
}

section {
  background-color: white;
}

.full-screen {
  /* display: block; */
  scroll-snap-align: start;
  height: 100vh;
  /* overflow: hidden; */
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 60pt;
  position: relative;
  padding-top: 10%;
}

.bg {
  opacity: 0.6;
  width: 100vw;
  position: absolute;
}

#intro {
  background-image: url("/images/Africa_independence_2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#masthead {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}
#masthead a {
  padding: 1rem 2rem;
}

.infoToShow {
  padding-top: 40%;
}

.content-container {
  padding-left: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.link-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.right-content {
  width: 60%;
}

.right-content > * {
  top: 30%;
}

.left-content{
  top: 2%;
  width: 40%;
  position: relative;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.left-content > * {
  left: 20%;
  opacity: 0;
  visibility: hidden;
}

.viz-content {
  display: flex;
}

.write-content {

}

#panels #panels-container {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}
#panels #panels-container .panel {
  position: relative;
  width: 60vw;
  /* height: 100vh; */
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
  border-right: 1px solid #000;
}
#panels #panels-container .panel{
  max-width: 60%;
  height: auto;
  display: block;
}

img {
  width: 60%;
  height: auto;
  display: block;
}
#panels #panels-container .panel .panels-navigation {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 60vw;
  bottom: 2rem;
  right: 2rem;
}

/* Vis CSS */

.flex-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.flex-container > * {
  width: 50%;
}

.viz-content {
  align-content: center;
}
.write-content p{
  font-size: 18pt;
  margin: 25px 300px 25px 0;
}

.write-content h1{
  color: "#F7931E";
  font-size: 30pt;
  margin: 100px 300px 30px 0;
}

.Y-axis path,
.Y-axis line{
  fill: none;
  stroke: none;
  stroke-width: none;
}

.Y-axis text{
  font-size: 20px;
}

rect.bars {

}
